.results {
    width: 50%;
    height: 300px;
    overflow-y: scroll;
    padding: 1rem;
    border: 2px solid black;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .results {
      width: 90%;
      margin-bottom: 2rem;
    }
  }